@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

body{
    background-image: linear-gradient(to left , #3d0b37, #320E3B);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-top: 2%;
    justify-content: center;
    color: black;
    padding-bottom: 6%;
}

fieldset{
    border: 0;
}

main{
    background-color: #EAF6FF;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #0000006b;
    width: 50%;
    padding: 3%;
    margin: auto;
}

input, select, textarea{
    color: black;
}


#selecione{
    color: black;
}

#titulo{
    font-family: 'Times New Roman', Times, serif;
    color: #E9D758;
    text-align: center;
}

#titulos{
    background-color: #134611;
    padding: 2em
    
}

#subtitulo{
    font-family: 'Times New Roman', Times, serif;
    color: #E9D758;
    text-align: center;
}

.campo{
    margin-top: 1em;
    margin-bottom: 0.5em;

}

.campo label{
    margin-bottom: 0.2em;
    display: block;
    color: black;
    
}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;

}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{

    padding: 0.2em;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.192);
    display: block;
    border-radius: 20px;
    width: 50em;
    height: 3em;

}

.campo label{
    text-align: center;
    font-size: 1em;
    font-weight: bolder;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
    background: rgb(221, 221, 221);
}

.botao {
    font-size: 1.2em;
    background: #0A210F;
    border: 0;
    color: #E9D758;
    padding: 0.5em 7em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.364);
    position: absolute;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.botao:hover{
    background-color: #0e2e15;
    text-shadow: none;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.337);
}

.botao, select{
    cursor: pointer;
}

